# Release on GitHub releases when a version tag is created
name: maven-release
on:
  push:
    tags:
      - 'v*'
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Adopt OpenJDK 11
      uses: actions/setup-java@v3
      with:
        distribution: adopt
        java-version: '11'
    - name: Set release version in pom.xml
      run: |
         VERSION=`cut -d/ -f3 <<< $GITHUB_REF`
         VERSION=${VERSION:1}
         mvn -B versions:set -DnewVersion=$VERSION
    - name: Build with Maven
      run: |
        mvn -B package
        ARTIFACT_FILE=`ls ./target/rest-styleguide-*.zip`
        echo "ARTIFACT_FILE=$ARTIFACT_FILE" >> $GITHUB_ENV
        echo "ARTIFACT_NAME=`basename $ARTIFACT_FILE`" >> $GITHUB_ENV
    - name: Create GitHub release
      id: create-release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        body: |
            Changes:
            - [placeholder]
        draft: true
    - name: Upload zip release asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create-release.outputs.upload_url }}
        asset_path: ${{ env.ARTIFACT_FILE }}
        asset_name: ${{ env.ARTIFACT_NAME }}
        asset_content_type: application/zip
