# Maven continuous integration build of the guide
name: maven-ci-build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Adopt OpenJDK 17
      uses: actions/setup-java@v5
      with:
        distribution: adopt
        java-version: '17'
    - name: Build with Maven
      run: mvn -B package
